.container{
    display: flexbox ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color :#f0f8ff;
    height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;

  

}

